@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a7b874ee;
  --foreground: #667046;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #A0BB6E;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Single Day', cursive;
}
